---
  import LoginRegister from "$lib/components/svelte/LoginRegister.svelte";
---

<div
  class="order-1 hidden items-center md:order-2 md:ml-0 md:flex md:min-w-[150px] lg:min-w-[200px]"
>
  <button
    type="button"
    class="btn btn-primary z-0 ml-auto py-[14px]"
    aria-haspopup="dialog"
    aria-expanded="false"
    aria-controls="hs-focus-management-modal"
    data-hs-overlay="#hs-focus-management-modal"
  >
    Login / Join
  </button>
</div>

<div
  id="hs-focus-management-modal"
  class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none"
  role="dialog"
  tabindex="-1"
  aria-labelledby="hs-focus-management-modal-label"
>
  <div
    class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto"
  >
    <div
      class="flex flex-col bg-white border-primary shadow-sm rounded-xl pointer-events-auto dark:bg-neutral-800 dark:border-neutral-700 dark:shadow-neutral-700/70"
    >
      <div class="flex justify-end items-center py-3 px-4 -mb-12">
        <button
          type="button"
          class="size-6 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:hover:bg-neutral-600 dark:text-neutral-400 dark:focus:bg-neutral-600 z-[85]"
          aria-label="Close"
          data-hs-overlay="#hs-focus-management-modal"
        >
          <span class="sr-only">Close</span>
          <svg
            class="shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
          </svg>
        </button>
      </div>
<!-- partial start -->
      <LoginRegister client:load />
<!-- partial end -->
    </div>
  </div>
</div>
