---
import Cta from "@/components/Cta.astro";
import LoginRegister from "@/lib/components/svelte/LoginRegister.svelte";
import Base from "@/layouts/Base.astro";
import Image from "astro/components/Image.astro";
import { getEntryBySlug } from "astro:content";
import FAQInline from "@/components/FAQInline.astro";

const homepage = await getEntryBySlug("homepage", "index");
const { workflow } = homepage.data;
---

<Base>
  <div class="flex flex-col-reverse lg:flex-row">
    <section class="m-0 p-0 mt-4 md:ml-36 w-7/12 place-self-center">
      <FAQInline />
    </section>
    <section class="w-5/6 mt-12 ml-12 z-50">
        <div class="flex flex-col col-12 md:mx-auto md:col-8 lg:w-full xl:w-1/2 ml-2">
             <LoginRegister client:load/>
      </div>
    </section>
  </div>
  <!-- Workflow -->
  <section class="section -mt-10 pb-0">
    <div class="mb-8 -ml-12 text-center justify-center place-self-center">
      <h2
        class="mx-auto max-w-[400px] font-bold leading-[44px]"
        set:html={workflow?.title}
      />
      <p class="mt-3" set:html={workflow?.description} />
    </div>
    <Image
      src={workflow!.image}
      alt="workflow image"
      width={1920}
      height={414}
    />
  </section>
</Base>
