---
export const prerender = false;
import SecondBase from "@/layouts/SecondBase.astro"

// const user = Astro.locals.user;
// if (!user) {
// 	return Astro.redirect("/login");
// }

// const username = user.username;

const username = "Risi"
---
<SecondBase>
<p>Just wanted to say HI from {username}</p>
</SecondBase>
